.modal--overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* .modal--wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
} */

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 51;
  width: 375px;
  height: auto;
  padding: 32px 0 16px;

  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 12%) 0px 0px 6px 0px;
  overflow: auto;
}

.modal__title {
  font-size: 17px;
  letter-spacing: -0.5px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  margin: 24px 0px 20px;
}

.modal__form--wrap {
  padding: 0 20px;
  width: 100%;
  height: 100%;
}

.modal__form {
  width: 100%;
  height: 100%;
}

.modal__form__main {
  width: 100%;
  height: 100%;
  /* background-color: rebeccapurple; */
}

.modal__form--button {
  padding: 0px;
  border: none;
  cursor: pointer;
  background: rgb(255, 47, 110);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.7px;
  line-height: 22px;
  width: 100%;
  height: 44px;
  border-radius: 6px;
  margin: 16px 0px 0px;
}

.modal__switch {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 20px;
  color: rgb(140, 140, 140);
  text-align: center;
  margin: 20px 0px 0px;
}

.modal__switch--button {
  background: none;
  padding: 0px;
  border: none;
  margin: 0px;
  cursor: pointer;
  color: rgb(255, 47, 110);
}

.language__button--wrap {
  background: none;
  padding: 0px;
  border: none;
  margin: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(74, 74, 74);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.language__button__icon {
  display: inline-block;
  background: url(../../images/input-language-button.svg) center center /
    contain no-repeat;
  width: 24px;
  height: 24px;
  margin: 0px 12px 0px 0px;
}

.language__button__click {
  display: inline-block;
  background: url(../../images/input-select-button.svg) center center / contain
    no-repeat;
  width: 24px;
  height: 24px;
  margin: 0px 12px 0px 0px;
}

.find__password--wrap {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 20px;
  text-align: center;
  margin: 20px 0px 14px;
}

.find__password--button {
  background: none;
  padding: 0px;
  border: none;
  margin: 0px;
  cursor: pointer;
  color: rgb(255, 47, 110);
}

.modal__line {
  position: relative;
  color: black;
  text-align: center;
  height: 1.5em;
  border: 0px;
  outline: 0px;
  margin: 24px 0px;
}

.modal__line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  border-top: 1px solid rgb(216, 216, 216);
}

.modal__line::after {
  content: "OR";
  display: inline-block;
  position: relative;
  top: -2px;
  background-color: rgb(255, 255, 255);
  color: rgb(160, 160, 160);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 19px;
  vertical-align: middle;
  padding: 0px 14px;
}

.modal__oauth--wrap {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 14px;
  list-style: none;
  padding-inline-start: 0px;
  margin: 16px 0;
}

.oauth__item--wrap {
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid rgb(227, 228, 230);
}

.oauth__item {
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.modal__tip {
  background-color: rgb(247, 247, 247);
  color: rgb(140, 140, 140);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 23px;
  text-align: center;
  padding: 10px 13px;
  margin-top: 48px;
}
